Librarys:

In [6]:
import numpy as np
import pandas as pd
import datetime
import matplotlib.pyplot as plt
# pip3 install tushare
import tushare as ts

In [7]:
df = ts.get_k_data("600895")
df

本接口即将停止更新，请尽快使用Pro版接口：https://waditu.com/document/2

           date    open   close    high     low    volume    code
0    2018-04-04  13.970  13.574  14.010  13.534   83995.0  600895
1    2018-04-09  13.534  13.782  13.871  13.475   70048.0  600895
2    2018-04-10  13.782  14.060  14.139  13.723  133720.0  600895
3    2018-04-11  14.248  13.921  14.416  13.891  150285.0  600895
4    2018-04-12  13.822  13.653  13.901  13.633   73403.0  600895
..          ...     ...     ...     ...     ...       ...     ...
635  2020-11-16  18.390  18.300  18.420  18.130   93303.0  600895
636  2020-11-17  18.270  18.060  18.270  17.940  101503.0  600895
637  2020-11-18  18.000  18.060  18.150  17.930   72956.0  600895
638  2020-11-19  17.950  18.030  18.070  17.840   69590.0  600895
639  2020-11-20  18.030  18.160  18.180  17.970   80704.0  600895

[640 rows x 7 columns]